body, html { 
    margin: 0; padding: 0; width: 100%; height: 100%; 
    background-color: black; color: #ff0000; 
    font-family: 'Courier New', Courier, monospace; 
    overflow: hidden; 
}

/* Background Matrix Glow */
#matrix-canvas { 
    position: absolute; top: 0; left: 0; z-index: 1; 
    opacity: 0.5; /* Ager cheye beshi clear */
}

/* Red Neon Box Design */
.status-box { 
    text-align: left; width: 85%; max-width: 450px; 
    background: rgba(0,0,0,0.9); 
    border: 2px solid #ff0000; 
    padding: 15px; font-size: 0.85rem; 
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.5); 
}

/* Intense Shaking Effect */
.shake { animation: shake 0.15s infinite; }
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    50% { transform: translate(-1px, 2px) rotate(1deg); }
    80% { transform: translate(-1px, -1px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#countdown { 
    font-size: 6rem; font-weight: bold; 
    color: #ff0000; text-shadow: 0 0 20px red; 
    border: 5px solid red; padding: 10px 40px; margin: 20px; 
}
